<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cloud.fund.fundDetail.mapper.FundDetailMapper">

    <insert id="insertBatch" parameterType="com.spring.cloud.fund.fundDetail.entity.FundDetail" useGeneratedKeys="true">

        REPLACE INTO fund_detail ( id, fund_code, fund_name, fund_type, company_code, company_name, one_n, six_y, three_y, one_y ) VALUES

        <foreach collection ="list" item="fundDetail" separator =",">
            (#{fundDetail.id}, #{fundDetail.fundCode}, #{fundDetail.fundName},
            #{fundDetail.fundType}, #{fundDetail.companyCode}, #{fundDetail.companyName},
            #{fundDetail.oneN}, #{fundDetail.sixY},#{fundDetail.threeY},
            #{fundDetail.oneY})
        </foreach >

    </insert>


</mapper>