<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cloud.fund.fundreal.mapper.FundRealMapper">

    <insert id="insertBatch" parameterType="com.spring.cloud.fund.fundreal.entity.FundReal" useGeneratedKeys="true">

        REPLACE INTO fund_real ( id, fundcode, name, jzrq, dwjz, gsz, gszzl, gztime, searchtime ) VALUES

        <foreach collection ="list" item="fundReal" separator =",">
            (#{fundReal.id}, #{fundReal.fundcode}, #{fundReal.name},
            #{fundReal.jzrq}, #{fundReal.dwjz}, #{fundReal.gsz},
            #{fundReal.gszzl}, #{fundReal.gztime},date_format(#{fundReal.gztime},'%Y-%m-%d'))
        </foreach >

    </insert>

    <select id="queryLastDate" resultType="string">

        SELECT searchtime FROM fund_real GROUP BY searchtime ORDER BY searchtime DESC LIMIT 0,1

    </select>


    <delete id="deleteByDate" parameterType="string">
        <![CDATA[ delete FROM fund_real where searchtime<=#{delDate} ]]>
    </delete>

    <update id="addIndex">
        ALTER TABLE fund_real
        ADD INDEX `fund_code_serach_index` (`fundcode` ASC, `searchtime` ASC) VISIBLE
    </update>

    <update id="delIndex">
       ALTER TABLE fund_real DROP INDEX `fund_code_serach_index`
    </update>
</mapper>