<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cloud.auth.system.user.mapper.UserMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
       id,account,username,account_non_expired,account_non_locked,credentials_non_expired,enabled,avatar
    </sql>

    <select id="selectUserPage" resultType="com.spring.cloud.auth.system.user.model.UserVO">
        SELECT <include refid="Base_Column_List"></include> FROM user <include refid="ew"></include>
    </select>

    <sql id="ew">
        ${ew.customSqlSegment}
    </sql>
</mapper>